body {
    max-width: 800px;
    margin: auto;
    background-color: #C0E0FF;
    font-family: 'Baloo Paaji 2', cursive;
}

#divChooseName, #divJoinOrHost {
    text-align: center;
}

/* margin-top values for ul and li needed with Baloo Paaji font */
ul {
    margin-top: 5px;
}

li {
    margin-top: -10px;
}

#nameListForm {
    margin-top: 2rem;
}

#nameList {
    max-width: 180px;
}

.col-textfield {
  float: right;
  width: 20%;
  margin-top: 3px;
}

.col-label {
  float: left;
  width: 80%;
  margin-top: 3px;
  min-height: 35px;
}

#teamsButton {
    float: left;
}

table {
    border-width: 2px;
    border-style: outset;
    border-color: silver;
}

th, td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-style: inset;
    border-color: silver;
    text-align: center;
}

.totalClass {
    font-weight: bold;
    border-width: 2px;
}

.performHostDutiesClass {
    display: block;
}

.turnControlButtonClass {
    margin-right: 2rem;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 24px;
    padding-left: 28px;
    vertical-align: middle;
}

#gotNameButton {
    background-image: url("icons/happy-emoji.svg");
}

#passButton {
    background-image: url("icons/thinking-emoji.svg");
}

#endTurnButton{
    background-image: url("icons/sad-emoji.svg");
}

.clear {
    clear: both;
}
