html {
    min-height: 100%;
    background-image: linear-gradient(to bottom, #C0E0FF, #E0E0FF); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Paaji 2', cursive;
}

body {
    max-width: 800px; 
    margin: auto;
}

#divChooseName, #divJoinOrHost {
    text-align: center;
}

/* margin-top values for ul and li needed with Baloo Paaji font */
ul {
    margin-top: 5px;
}

li {
    margin-top: -10px;
}

#nameListForm {
    margin-top: 2rem;
}

#nameList {
    max-width: 180px;
}

.col-textfield {
  float: right;
  width: 20%;
  margin-top: 3px;
}

.col-label {
  float: left;
  width: 80%;
  margin-top: 3px;
  min-height: 35px;
}

#teamsButton {
    float: left;
}

table {
    border-width: 2px;
    border-style: outset;
    border-color: silver;
}

th, td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-style: inset;
    border-color: silver;
    text-align: center;
}

.totalClass {
    font-weight: bold;
    border-width: 2px;
}

.performHostDutiesClass {
    display: block;
}

.turnControlButtonClass {
    margin-right: 2rem;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 24px;
    padding-left: 28px;
    vertical-align: middle;
}

#gotNameButton {
    background-image: url("icons/happy-emoji.svg");
}

#passButton {
    background-image: url("icons/thinking-emoji.svg");
}

#endTurnButton{
    background-image: url("icons/sad-emoji.svg");
}

.clear {
    clear: both;
}

.contextMenuClass {
    display: none;
    position: absolute;
    background-color: white;
    border: solid 1px;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    padding: 5px 0px 5px 0px;
}

.contextMenuClass li:not(.separator){
    padding: 10px 5px 10px 5px;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.contextMenuClass li:hover{
    background: #eee;
    border-left: 4px solid #666;
}

.separator{
    height: 1px;
    background: #dedede;
    margin: 2px 0px 2px 0px;
}
